<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>976670665707-tduih3mg39g8i7rlbdrohe1nk6bfrj2t.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.976670665707-tduih3mg39g8i7rlbdrohe1nk6bfrj2t</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>976670665707-8ac67ukfeg4t4nu4sprvov12p8tp25lm.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAVgNzNQ4mYskijABv-NZQ46L5Byma-bNM</string>
	<key>GCM_SENDER_ID</key>
	<string>976670665707</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.KCPLchitfund</string>
	<key>PROJECT_ID</key>
	<string>dev1-365717</string>
	<key>STORAGE_BUCKET</key>
	<string>dev1-365717.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:976670665707:ios:3dcbd058d8c8a7cc28c7ae</string>
</dict>
</plist>